video {
    position: fixed;
    right: 0; bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#logo {
    font-family: "Lucida Console", "Courier New";
    font-size: 1.5em;
    text-anchor: start;
}

svg #glasses {
    opacity: 0.7;
}

#glasses-rect {
    fill: steelblue;
    opacity: 0.7;
}

.place {
    opacity: 0.5;
}

#place-box {
    fill: white;
    opacity: 0.6;
}

#title-box {
    fill: blue;
    opacity: 0.5;
}

selected-outline {
    fill: green;
    opacity: 0.8;
}

.box-text {
    font-family: Arial;
}

#opening-hours {
    fill: pink;
    stroke: orange;
}
